<div class="dashboard">
    <div style="padding: 5px; height: 100%; display: flex; flex-direction: row-reverse; align-items: center;">
        <img style="height: 100%; margin-right: 15px;" src="assets/images/armas-exercito.png">
    </div>
</div>

<div class="login-site">
    <div class="suporte-login">
        <h5>Entrar</h5>
        <div class="row justify-content-center">
            <img style="width: 80px; height: 100px;" src="./assets/images/logo.jpg">
        </div>
        <form #form="ngForm" class="needs-validation mt-2" novalidate>
            <label for="idemail">Login</label>
            <input required [(ngModel)]="login.login" name="login" id="login" class="form-control input-login mb-2"
                type="text">
            <div class="invalid-feedback">
                Campo obrigatório
            </div>
            <label for="idsenha">Senha</label>
            <input required [(ngModel)]="login.senha" name="senha" id="idsenha" type="password"
                class="form-control input-login">
            <div class="invalid-feedback">
                Campo obrigatório
            </div>
            <button [disabled]="efetuandoLogin || form.invalid" (click)="efetuarLogin()" id="enviar" type="button" class="btn mt-5"
                style="color:#ffffff; background-color: #03a3108a; width: 100%;"> <i style="display: none;" id='spinner'
                    class="fas fa-spinner fa-spin"></i>
                <p *ngIf="!efetuandoLogin" style="margin: 0;" id="entrar">Entrar</p>
                <i *ngIf="efetuandoLogin" class="fa fa-spinner fa-spin"></i>
            </button>
        </form>
    </div>
</div>